{% extends 'checker/base.html' %}

{% block title %}Resultss{% endblock %}

{% block navbar %}
	 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a href="../../login/profile">
                My Profile
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../#about">About</a>
                    <li>
                        <a class="page-scroll" href="../#download">FAQs</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../#contact">Contact</a>
                    </li>
                    <li>                        
                        <form action="/logout/" method="POST">
                            {% csrf_token %}
                            <input style="padding-top: 15px; color: white" class="btn btn-link" type = "submit" value="LOGOUT"/><br/>
                        </form>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
{% endblock %}
{% block body %}
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="container-fluid" style="padding-top: 80px">
					<h2>{{ user }}</h2>
	
					{% if diseases %}
					<div class="well well-sm" style="color:black; opacity: 70%">
					<h3>Probable Disease:
					{% for key, value in diseases.items %}
					{{key}}</h3></div>

					<div class="well well-lg" style="font-family: 'Times New Roman', Times, serif; font-style: normal; color: black; opacity: 70;text-align: justify"><h4>Description:</h4> <p>{{value}}</p>
					<a style="color:purple" href="https://en.wikipedia.org/wiki/{{key}}" target="_blank"> More on {{key}}</a>
                    </div>
					{% endfor %}
					{% else %}
					<div style="font-family: 'Times New Roman', Times, serif; font-style: normal; color:black" class="well well-sm" opacity: 70%>Sorry No matching disease found.
					{% endif %}</div>

					<div style="font-family: 'Times New Roman', Times, serif; font-style: normal; color:black" class="well well-sm" opacity: 70%>Note: Please be aware that this is only a prediction. Please contact referred specialist for further analysis and treatment.
                    <br>{{ user.specialists }}</div>              
						


					
					<p>Thank You<p>
                    </div>
                    
                </div>
            </div>
        </div>
    </header>
{% endblock %}