{% extends 'checker/base.html' %}

{% block title %}Results{% endblock %}

{% block navbar %}
	 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i><button type = "submit" action="/logout/" method="POST" value="LOGOUT"/>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../#about">About</a>
                    <li>
                        <a class="page-scroll" href="../#download">FAQs</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="../#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
{% endblock %}
{% block body %}
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
					{{ user }}
	
					{% if diseases %}
					
					<p>Probable Disease:</p>
					{% for key, value in diseases.items %}
					<p>{{key}}</p>
					<p>Description: {{value}}</p>
					<a href="https://en.wikipedia.org/wiki/{{key}}" target="_blank"> More on {{key}}</a>
					{% endfor %}
					{% else %}
					<p>Sorry No matching disease found.</p>
					{% endif %}
					
						


					
					<p>Thank You<p>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}